<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/performance.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.nhnacademy.edu.springframework.project.aspect.LoggingAspect" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- turn OFF all logging (children can override) -->
    <root level="OFF">

    </root>

</configuration>